@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Oakley Script";
  src: url("/fonts/OakleyScript-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Caslon";
  src: url("/fonts/Caslon-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Halis Medium";
  src: url("/fonts/HalisGR-Medium.otf") format("opentype");
}

@font-face {
  font-family: "Halis Book";
  src: url("/fonts/HalisGR-Book.otf") format("opentype");
}
